<!-- <!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
  </head>
  <body>
    <h1>User Profile</h1>
    <ul>
      <li>Username: <%= user.username %></li>
      <li>Name: <%= user.name %></li>
      <li>Age: <%= user.age %></li>
      <li>Gender: <%= user.gender %></li>
      <li>Location: <%= user.location %></li>
      <li>Bio: <%= user.bio %></li>
      <li>Followers: <%= user.followers %></li>
      <li>Following: <%= user.following %></li>
      <li>Posts: <%= user.posts %></li>
    </ul>
  </body>
</html> -->


<div class="main">
    <h1 class="main__heading"></h1>
    <p class="main__body"></p>
</div>
<nav>
        <div class="user-profile">
            <h1>User Profile</h1>
            <h3>Username: <%= user.username %></h3>
            <h3>Name: <%= user.name %></h3>
            <h3>Gender: <%= user.gender %></h3>
            <h3>Location: <%= user.location %></h3>
            <h3>Bio: <%= user.bio %></h3>
            <h3>Followers: <%= user.followers %></h3>
            <h3>Posts: <%= user.posts %></h3>
        </div>
   
</nav>